@{
    ViewData["Title"] = "GPU Hunt";
}
<h2 class="text-danger">UWAGA</h2>
<div class="container btn-div">
    <p>Obecnie w bazie danych nie znajdują się żadne karty graficzne. W pierwszej kolejności należy zcrawlować strony sklepów internetowych.</p>
    <p>Kliknij na przycisk poniżej, aby scrawlować sklepy internetowe.</p>
    <a asp-action="Crawl"><button class="crawl-btn">Crawl</button></a>
</div>
