html {
    position: relative;
    height: 100vh;
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.4s;
}

    .table-header ~ a:hover, a:hover {
        color: tomato;
    }

.btn {
    transition: color 0.3s;
}

    .btn:hover {
        color: tomato;
    }

.copyrights {
    justify-content: center;
    text-align: center;
}

.update-action, .scrap-action {
    display: inline;
    color: darkblue;
}

.social-link {
    color: black;
    transition: color 0.3s;
}

.social-link:visited {
    color: black;
}

.social-link:link {
    color: black
}

.social-link:hover {
    color: tomato;
}
