@{
    ViewData["Title"] = "GPU Hunt | Dokumentacja - Architektura projektu";
}
@Html.ActionLink("Powrót do spisu treści", "Index", "Documentation")
<h3>Architektura projektu</h3>
<div class="architecture-about">
    <p>
        Architektura projektu jest oparta o wzorzec Clean Architecture, który pozwolił na odseparowanie warstw aplikacji, czyniąc je
        niezależnymi od siebie. Umożliwiło to także na napisanie bardziej elastycznego i przejrzystego kodu.
    </p>
</div>
