@{
    ViewData["Title"] = "GPU Hunt | Wzorce";
}
@Html.ActionLink("Powrót do spisu treści", "Index", "Documentation")
<h3>Wzorce</h3>
<div class="patterns-about">
    <p>W ramach projektu wykorzystane zostały także następujące wzorce i patterny:</p>
    <ul class="patterns-list">
        <li>MVC</li>
        <li>Clean Architecture</li>
        <li>CQRS</li>
        <li>AAA</li>
    </ul>
</div>