@{
    ViewData["Title"] = "GPU Hunt | Dokumentacja - Zastosowane technologie i biblioteki zewnętrzne";
}
@Html.ActionLink("Powrót do spisu treści", "Index", "Documentation")
<h3>Technologie i biblioteki</h3>
<div class="technologies-about">
    <p>W ramach projektu wykorzystano następujące technologie i biblioteki:</p>
    <ul class="tech-list">
        <li>C# 11/.NET 7</li>
        <li>HTML/CSS</li>
        <li>Entity Framework Core</li>
        <li>AspNetCore.Identity</li>
        <li>SQL Server</li>
        <li>AutoMapper</li>
        <li>FluentValidation</li>
        <li>Bootstrap 5.2.3</li>
        <li>FontAwesome</li>
        <li>Toastr</li>
        <li>MediatR</li>
        <li>HtmlAgilityPack</li>
        <li>Newtonsoft.Json</li>
        <li>xUnit</li>
        <li>Moq</li>
        <li>FluentAssertions</li>
        <li>AspNetCore.Mvc.Testing</li>
    </ul>
</div>